<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<router-outlet></router-outlet>
<div *ngIf="stories">
  <app-hn-paginator [(pageIndex)]="currentPageIndex"></app-hn-paginator>
  <ul>
    <mat-card *ngFor="let story of stories">
    <a href="{{story.url}}" target="_blank">
      <div>
        {{story.title}}
      </div>
      <div>
        ( {{story.url | domain }} )
      </div>
    </a>
    <div>{{story.score}} points by {{story.by}} {{story.time}}</div>
    </mat-card>
  </ul>
</div>
