<mat-toolbar color="primary">
    <div style="text-align:center">
        <h1 class="mat-display-1">
          Welcome to {{title}}!
        </h1>
      </div>
</mat-toolbar>
<router-outlet></router-outlet>
<div *ngIf="stories" class="mat-typography">
  <app-hn-paginator [(pageIndex)]="currentPageIndex"></app-hn-paginator>

  <mat-card *ngFor="let story of stories">
  <a href="{{story.url}}" target="_blank">
    <div>
      {{story.title}}
    </div>
    <div *ngIf="story.url">
      ( {{ story.url | domain }} )
    </div>
  </a>
  <div style ="margin-top: 10px;">
    {{ story.score }} points
    by {{ story.by }} {{ story.time * 1000 | date: 'yyyy/MM/dd HH:mm:SS' }}
  </div>
  </mat-card>

</div>
